---
import { Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} info={{ slug: '/about', hideComment: true }}>
  <p>
    Hi! I'm Jesse, a software developer based in Finland. Nice to meet you! </p>
  <p>
    I love building things, solving problems, and always chasing the next challenge.
    These days, I'm focused on web, mobile and cloud development — but my experience goes far beyond that.
    From system administration to networking and from server hosting to game development. If it looks interesting, I probably tried messing with it!
  </p>
  <p>
    My background is rooted in full-stack development, with solid experience across both front-end and back-end
    technologies. I've worked with various frameworks and libraries like React, Astro, Node.js and
    .NET. On the cloud side, I'm familiar with platforms like AWS and Azure, and have
    deployed and managed a wide scale of applications and projcets — from RTMP streaming services
    and game servers to all kinds of websites and production-grade databases.
  </p>
  <p>
    While cloud platforms offer many great scalable solutions, I have my
    personal need to fiddle with hardware. Be it a Raspberry Pi, a NAS server or a gaming PC —
    doing it myself has its charm. There is something special about having a total understanding of
    the system. From the network stack all the way down to the hardware and software. 
  </p>
  <p>
    As the few previous paragraphs suggest, I really enjoy learning — but what I enjoy even more is teaching.
    I've been fortunate to get hands-on experience in teaching, mentoring and coaching throughout my
    mandatory military service, my studies, and my work at Pelikaverit and Mankeli. Not only does it help me to deepen my own understanding of the subject,
    but it's also super rewarding to see someone else grow and have those lightbulb moments.
  </p>
  <p>
    So what is a fantastic environment for learning and teaching? The whole world of gaming, hands down! My interest in programming and server hosting actually started
    with Minecraft back when I was just a little kid. We'd figure out how to build mods and setup servers with my friends just so we could play together. And I'm still 
    self-hosting a server for my international friend group today. That early curiosity evolved into a passion for more competitive team games like CS2 and Rocket League,
    which led me into 3D modeling, animation, game engines and even coaching. Sometimes, even a simple frag movie or a strategy video can be a powerful way to learn and teach —
    be it skills in the game or outside of it!
  </p>

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Coding of course!</li>
    <li>Server / service hosting (Minecraft and other game servers & services)</li>
    <li>Building PC's, servers and others</li>
    <li>Competitive video games (CS2, Rocket League, Marvel Rivals)</li>
    <li>Board and card games (Bunch of classics, Keyforge)</li>
    <li>Cooking & baking</li>
    <li>Video Production, 3D & Game Engines</li>
    <li>Coaching, teaching and tutoring</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>What I like to use to get me from the start to the finish line:</p>
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Nano',
        description: 'Text editor',
        href: 'https://www.nano-editor.org',
        icon: import('@/assets/tools/nano.svg?raw')
      },
      {
        name: 'Notepad++',
        description: 'Text editor',
        href: 'https://notepad-plus-plus.org/',
        icon: import('@/assets/tools/notepad.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Cloud & Hosting'
    tools={[
      {
        name: 'AWS',
        description: 'Service',
        href: 'https://aws.amazon.com/',
        icon: import('@/assets/tools/aws.svg?raw')
      },
      {
        name: 'Azure',
        description: 'Service',
        href: 'https://azure.microsoft.com/',
        icon: import('@/assets/tools/azure.svg?raw')
      },
      {
        name: 'Oracle Cloud',
        description: 'Service',
        href: 'https://www.oracle.com/cloud/',
        icon: import('@/assets/tools/oracle.svg?raw')
      },
      {
        name: 'Vercel',
        description: 'Service',
        href: 'https://vercel.com/',
        icon: import('@/assets/tools/vercel.svg?raw')
      },
      {
        name: 'Cloudflare',
        description: 'Service',
        href: 'https://www.cloudflare.com/',
        icon: import('@/assets/tools/cloudflare.svg?raw')
      },
      {
        name: 'Docker',
        description: 'Containerization',
        href: 'https://www.docker.com/',
        icon: import('@/assets/tools/docker.svg?raw')
      },
      {
        name: 'Nginx',
        description: 'Web Server',
        href: 'https://www.nginx.com/',
        icon: import('@/assets/tools/nginx.svg?raw')
      },
      {
        name: 'Apache',
        description: 'Web Server',
        href: 'https://httpd.apache.org/',
        icon: import('@/assets/tools/apache.svg?raw')
      },
      {
        name: 'PostgreSQL',
        description: 'Database',
        href: 'https://www.postgresql.org/',
        icon: import('@/assets/tools/psql.svg?raw')
      },
      {
        name: 'MongoDB',
        description: 'Database',
        href: 'https://www.mongodb.com/',
        icon: import('@/assets/tools/mongodb.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Game Engines & 3D'
    tools={[
      {
        name: 'Unity',
        description: 'Game Engine',
        href: 'https://unity.com/',
        icon: import('@/assets/tools/unity.svg?raw')
      },
      {
        name: 'Unreal Engine',
        description: 'Game Engine',
        href: 'https://www.unrealengine.com/',
        icon: import('@/assets/tools/unreal.svg?raw')
      },
      {
        name: 'Blender',
        description: '3D Modelling & Animation',
        href: 'https://www.blender.org/',
        icon: import('@/assets/tools/blender.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Design & Video'
    tools={[
      {
        name: 'Figma',
        description: 'Website Drawing & Prototyping',
        href: 'https://www.figma.com/',
        icon: import('@/assets/tools/figma.svg?raw')
      },
      {
        name: 'DaVinci Resolve',
        description: 'Video Editing',
        href: 'https://www.blackmagicdesign.com/products/davinciresolve/',
        icon: import('@/assets/tools/resolve.svg?raw')
      },
      {
        name: 'Gimp',
        description: 'Picture Editing & Textures',
        href: 'https://www.gimp.org/',
        icon: import('@/assets/tools/gimp.svg?raw')
      },
      {
        name: 'Photoshop',
        description: 'Picture Editing & Textures',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      {
        name: 'After Effects',
        description: 'Motion Graphics',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: import('@/assets/tools/aftereffects.svg?raw')
      },
      {
        name: 'Audacity',
        description: 'Basic Audio Editing',
        href: 'https://www.audacityteam.org/',
        icon: import('@/assets/tools/audacity.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    Want to connect or take a peek what I'm interested in? Check these out!
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/JareCoder/',
        text: 'followers',
        api: 'github/JareCoder'
      },
      {
        platform: 'LinkedIn',
        icon: 'link',
        color: '#0072b1',
        link: 'https://www.linkedin.com/in/jesse-lappalainen/',
        text: 'connections',
        hideCount: true
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/id/jaretheplayer/',
        text: 'games',
        api: 'steamgames/76561198228963752'
      }
    ]}
  />

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2025-04-16',
        content:
          'Website launched with a blog post and general information about me.'
      }
    ]}
  />
  <p>
    The smooth operation and customization of this website relies on these amazing projects/service providers:
  </p>
  <ul>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
</PageLayout>
