---
import { Image } from 'astro:assets'

import { Collapse } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'theme', text: 'Theme' },
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activity:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/JareCoder'
      alt='github activity table'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    Find something interesting and want to know more? Feel free to reach out on <a class='text-muted-foreground' href="/about#social-networks">LinkedIn</a>!
  </p>

  <h2 id='programs'>My Projects</h2>
  <ProjectSection
    project={[
      {
        name: 'Shibuya Comics (WIP)',
        description: 'Flutter project for a private social media app',
        links: [
          { type: 'github', href: 'https://github.com/JareCoder/ShibuyaComics' }
        ]
      },
      {
        name: 'RTMP Installer (WIP)',
        description: 'A script to install and configure RTMP server using Nginx',
        links: [
          { type: 'github', href: 'https://github.com/JareCoder/RTMP-Nginx-Installer' },
        ]
      }
    ]}
  />

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    project={[
      {
        name: 'Full Stack Open',
        description: 'Full Stack Open course by University of Helsinki',
        links: [{ type: 'github', href: 'https://github.com/JareCoder/FullStackOpen' },
          { type: 'site', href: 'https://fullstackopen.com/en/' }
        ]
      }
    ]}
  />

  <Collapse title='Some uni courses & earlier education'>
    <ProjectSection
      project={[
        {
          name: 'Computer Architecture Demonstration',
          description: 'Course group project using Python',
          links: [{ type: 'github', href: 'https://github.com/JareCoder/ComputerArchitectureDemonstration' }]
        },
        {
          name: 'Text To Speech',
          description: 'Kerttuli ICT school final project made for a company',
          links: [
            { type: 'github', href: 'https://github.com/JareCoder/TextToSpeech' }
          ]
        }
      ]}
    />
  </Collapse>

  <h2 id='hackathons'>Hackathons</h2>
  <ProjectSection
    project={[
      {
        name: 'QuickBim',
        description: "Juction 2024 3rd place overall",
        links: [{ type: 'github', href: 'https://github.com/Mankeli-Software/quickbim' },
          { type: 'site', href: 'https://quickbim.fi' }
        ]
      },
      {
        name: 'J-mp',
        description: 'Junction 2023 2nd place in Huawei track',
        links: [{ type: 'github', href: 'https://github.com/Mankeli-Software/junction2023'}]
      }
    ]}
  />

  <h2 id='others'>Others</h2>
  <ProjectSection
    project={[
      {
        name: 'Mankeli Solutions Oy',
        description: "Mankeli's Github",
        links: [{ type: 'github', href: 'https://github.com/Mankeli-Software' }]
      }
    ]}
  />

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>
